 <div class="jumbrotron">
  <h1 class="text-center">Aluragram</h1>
 </div>

 <div class="row">
   <div class="col-md-12">
     <form>
       <div class="form-group">
         <input placeholder="Ex: jaca" ng-model="filtro" ng-model-options="{debounce: 300}" class="form-control" autofocus>
       </div> <!--fim .form-group-->
     </form>
   </div> <!--fim .col-md-12-->
 </div> <!--fim .row-->

<div class="row">
 <meu-painel titulo="{{foto.titulo}}" ng-repeat="foto in fotos | filter: {titulo: filtro} " class="painel-animado">
          <minha-foto url="{{foto.url}}" titulo="{{foto.titulo}}" class="img-responsive center-block img-thumbnail"></minha-foto>

<!--              <img src="{{foto.url}}" alt="{{foto.titulo}}" class="img-responsive center-block img-thumbnail">-->
 </meu-painel>

</div>  